body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to left, lightblue, lightgreen);
    user-select: none;
}

h2{
    text-align: center;
    color: darkblue;
    padding-top: 10px;
    font-size: 35px;
}

.titleHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.heading {
    text-align: center;
}

#logout {
    align-self: flex-end;
    cursor: pointer;
}

p{
    text-align: center;
    color: darkblue;
    font-size: 18px;
    margin-top:-20px;
}

.app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
}

.note{
    padding: 17px;
    border-radius: 15px;
    border: none;
    resize: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    font-size: 18px;
    height: 200px;
    color: rgb(37, 36, 36);
    outline: none;
    background: rgba(255, 255, 255, .1);
    box-sizing: border-box;
}

.textarea::placeholder, .title::placeholder, .priority::placeholder{
    color: rgb(101, 101, 101);
    opacity: 70%;
}

.textarea, .title,.priority{
    background: transparent;
    border: none;
}

.title{
    border-bottom: 1px solid gray;
    width: 65%;
}

.priority{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    width: 30%
}

.textarea{
    resize: none;
    width: 100%;
    height: 87%;
}

.date{
    margin-bottom: 0;
    color: rgb(101, 101, 101);
    opacity: 70%;
    font-size: 15px;
    user-select: none;
}

.note:hover, .note:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all 200ms ease;
}

.btn{
    height: 200px;
    border-color: rgba(255, 255, 255, .37);
    background: rgba(255, 255, 255, .27);
    border-radius: 15px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover{
    background: rgba(255, 255, 255, .40);
    transition: all 200ms ease;
    color: rgba(0, 0, 0, .6);
}